<section class="contact-edit">
    <h2>{{ contact?._id ? "Edit" : "Add" }} Contact</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSaveContact()" >
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name">
        </div>
        <div>
            <label for="phone">Phone</label>
            <input type="tel" id="phone" formControlName="phone">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email">
        </div>

        <section class="actions">
            <button [disabled]="contactForm.invalid" class="btn">Save</button>
            <button routerLink="/contact" class="btn">Back</button>
        </section>
    </form>
</section>