.main-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 2;
    padding: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
